/* PyTorch top nav bar */

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-holder {
  height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
}
@media screen and (min-width: 1200px) {
  .header-holder {
    height: 90px;
  }
}

.header-container {
  position: relative;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container:before, .header-container:after {
  content: "";
  display: table;
}
.header-container:after {
  clear: both;
}

@media screen and (min-width: 1200px) {
  .header-container {
    display: block;
  }
}

.header-logo {
  height: 23px;
  width: 93px;
  background-image: url("../img/logo.svg");
  background-repeat: no-repeat;
  background-size: 93px 23px;
  display: block;
  float: left;
  z-index: 10;
}
@media screen and (min-width: 1200px) {
  .header-logo {
    background-size: 108px 27px;
    position: absolute;
    height: 27px;
    width: 108px;
    top: 4px;
    float: none;
  }
}

.main-menu-open-button {
  background-image: url("../img/icon-menu-dots.svg");
  background-position: center center;
  background-size: 25px 7px;
  background-repeat: no-repeat;
  width: 25px;
  height: 17px;
  position: absolute;
  right: 0;
  top: 4px;
}
@media screen and (min-width: 1200px) {
  .main-menu-open-button {
    display: none;
  }
}

.header-holder .main-menu {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-holder .main-menu {
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
    padding-left: 110px;

  }
}
.header-holder .main-menu ul {
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
.header-holder .main-menu ul li {
  display: inline-block;
  margin-right: 34px;
  position: relative;
  color: #262626;
}

.header-holder .main-menu ul li a:hover {
  color: #262626;
}

.header-holder .main-menu ul li.active:after {
  content: "•";
  bottom: -24px;
  color: #262626;
  font-size: 1.375rem;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}


.header-holder .main-menu ul li.active a {
  color: #262626;
}
.header-holder .main-menu ul li.docs-active:after {
  content: "•";
  bottom: -24px;
  color: #ee4c2c;
  font-size: 1.375rem;
  left: -24px;
  position: absolute;
  right: 0;
  text-align: center;
}
.header-holder .main-menu ul li:last-of-type {
  margin-right: 0;
}
.header-holder .main-menu ul li a {
  color: #262626;
  font-size: 1.2rem;
  letter-spacing: 0;
  line-height: 2.125rem;
  text-align: center;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .header-holder .main-menu ul li a:hover {
    color: #ee4c2c;
  }
}

.mobile-main-menu {
  display: none;
}
.mobile-main-menu.open {
  background-color: #262626;
  display: block;
  height: 100%;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.mobile-main-menu .container-fluid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  height: 68px;
  position: relative;
}
.mobile-main-menu .container-fluid:before, .mobile-main-menu .container-fluid:after {
  content: "";
  display: table;
}
.mobile-main-menu .container-fluid:after {
  clear: both;
}

.mobile-main-menu.open ul {
  list-style-type: none;
  padding: 0;
}
.mobile-main-menu.open ul li a, .mobile-main-menu.open .resources-mobile-menu-title {
  font-size: 2rem;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 4rem;
  text-decoration: none;
}
.mobile-main-menu.open ul li.active a {
  color: #ee4c2c;
}

.main-menu-close-button {
  background-image: url("../img/icon-close.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  height: 24px;
  position: absolute;
  right: 0;
  width: 24px;
  top: -4px;
}

.mobile-main-menu-header-container {
  position: relative;
}

.mobile-main-menu-links-container {
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2.8125rem;
  height: 90vh;
  margin-top: -25px;
  padding-top: 50%;
  overflow-y: scroll;
}
.mobile-main-menu-links-container .main-menu {
  height: 100vh;
}

.mobile-main-menu-links-container ul.resources-mobile-menu-items li {
  padding-left: 15px;
}

.mobile-main-menu-links-container ul.resources-mobile-menu-items li a {
  font-size: 18px;
  line-height: 34px;
}

.site-footer {
  padding: 2.5rem 0;
  width: 100%;
  background: #000000;
  background-size: 100%;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  z-index: 201;
}
@media screen and (min-width: 768px) {
  .site-footer {
    padding: 5rem 0;
  }
}


.tutorials-header .header-logo {
  background-image: url("../img/logo-dark.svg");
}
.tutorials-header .main-menu ul li a {
  color: #262626;
}

.tutorials-header .main-menu ul li a:hover {
  color: #262626;
}

.tutorials-header .main-menu .no-dropdown {
  display: block;
}

.tutorials-header .main-menu .no-dropdown a {
  color: #262626;
}

.tutorials-header .main-menu .no-dropdown a:hover {
  color: #262626 !important;
  border-bottom: 2px solid #262626;
}

.tutorials-header .main-menu-open-button {
  background-image: url("../img/icon-menu-dots-dark.svg");
}

.main-menu ul li .resources-dropdown a {
  cursor: default;
}
.main-menu ul li .dropdown-menu {
  border-radius: 0;
  padding: 0;
}
.main-menu ul li .dropdown-menu .dropdown-item {
  color: #6c6c6d;
  border-bottom: 1px solid #e2e2e2;
}
.main-menu ul li .dropdown-menu .dropdown-item:last-of-type {
  border-bottom-color: transparent;
}
.main-menu ul li .dropdown-menu .dropdown-item:hover {
  background-color: #ee4c2c;
}
.main-menu ul li .dropdown-menu .dropdown-item p {
  font-size: 1rem;
  color: #979797;
}
.main-menu ul li .dropdown-menu a.dropdown-item:hover {
  color: #ffffff;
}
.main-menu ul li .dropdown-menu a.dropdown-item:hover p {
  color: #ffffff;
}

.resources-dropdown-menu {
  left: -75px;
  width: 300px;
  display: none;
  position: absolute;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.resources-dropdown:hover .resources-dropdown-menu {
  display: block;
}

.main-menu ul li .resources-dropdown-menu {
  border-radius: 0;
  padding: 0;
}
.main-menu ul li.active:hover .resources-dropdown-menu {
  display: block;
}

.main-menu ul li .resources-dropdown-menu .dropdown-item {
  color: #262626;
  border-bottom: 1px solid #e2e2e2;
}

.resources-dropdown .with-down-orange-arrow {
  padding-right: 2rem;
  position: relative;
  background: url("../img/chevron-down-orange.svg");
  background-size: 14px 18px;
  background-position: top 7px right 10px;
  background-repeat: no-repeat;
}

.with-down-arrow {
  padding-right: 2rem;
  position: relative;
  background-image: url("../img/chevron-down-black.svg");
  background-size: 14px 18px;
  background-position: top 7px right 10px;
  background-repeat: no-repeat;

}

.with-down-arrow a {
  color: #262626;
}

.main-menu ul li a.with-down-arrow:hover {
  color: #262626;
}

.with-down-arrow:hover {
  background-repeat: no-repeat;
}

.header-holder .main-menu ul li .resources-dropdown .doc-dropdown-option {
  padding-top: 1rem;
}

.header-holder .main-menu ul li a.nav-dropdown-item {
  display: block;
  font-size: 1rem;
  line-height: 1.3125rem;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #757575;
  text-align: left;
  background-color: transparent;
  border-bottom: 1px solid #e2e2e2;
  cursor: pointer;
}

.header-holder .main-menu ul li a.nav-dropdown-item p {
  margin-bottom: .5rem;
}

.header-holder .main-menu ul li a.nav-dropdown-item:last-of-type {
  border-bottom-color: transparent;
}
.header-holder .main-menu ul li a.nav-dropdown-item:hover {
  background-color: #ee4c2c;
  color: white;
}
.header-holder .main-menu ul li a.nav-dropdown-item .dropdown-title {
  font-size: 1.125rem;
  color: #212529;
  letter-spacing: 0;
  line-height: 34px;
}

.header-holder .main-menu ul li a.nav-dropdown-item:hover .dropdown-title {
  background-color: #ee4c2c;
  color: white;
}
/* End of PyTorch top bar styles */


/* Theme colors */

html[data-theme="light"] {
    --pst-color-primary: #ee4c2c;
    --pst-color-secondary: #ee4c2c;
    --pst-color-inline-code-links: #ee4c2c;
    --bs-link-hover-color: #ee4c2c;
    --bs-emphasis-color-rgb: #ee4c2c;
    --bs-emphasis-color: #ee4c2c;
    --bs-btn-focus-box-shadow: #ee4c2c;
}

html[data-theme="dark"] {
    --pst-color-primary: #11b3d3;
    --pst-color-secondary: #11b3d3;
    --pst-color-inline-code-links: #11b3d3;
    --bs-link-hover-color: #11b3d3;
    --bs-emphasis-color-rgb: #11b3d3;
    --bs-emphasis-color: #11b3d3;
    --pst-color-inline-code: #F4A623;
    --bs-btn-focus-box-shadow: #11b3d3;
}

/* End of theme colors */

.bd-header {
  top: 90px !important;
  position: sticky !important;
  z-index: 999;
}

@media (max-width: 1200px) {
  .bd-header {
    top: 70px !important;
  }
}

.bd-sidebar-primary {
  top: 150px !important;
}

.bd-sidebar-secondary {
  top: 150px !important;
}

/* rate this page styles */

.header-article-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumbs {
  margin-right: 10px;
}

.header-article-items__start,
.header-article-items__end {
  display: flex;
  align-items: center;
}

.rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    font-size: 13px;
    padding-top: 2px;
    font-weight: 700;
}
.stars {
    display: inline-flex;
    gap: 3px;
    margin-left: 8px;
}
.star {
    cursor: pointer;
    font-size: 12 px;
    color: #E6E6E6;
}
.star.active {
  color: #ee4c2c;
}

.star.hover {
  color: #ee4c2c;
}

.feedback {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding-top: 0;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
}

.feedback-send {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
}

.btn,
a.btn {
  font-weight: 400;
  position: relative;
  letter-spacing: 0.25px;
}

div.math {
    flex-direction: column;
}

.feedback-btn {
  border-radius: 0;
  border: none;
  background-color: #f3f4f7;
  color: #6c6c6d;
  font-weight: 400;
  position: relative;
  letter-spacing: 0.25px;
  padding: 8px 32px 8px 12px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.feedback-btn::after {
  content: '';
  background-image: url("../img/chevron-right-orange.svg");
  width: 16px;
  height: 16px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  background-repeat: no-repeat;
}

.feedback-btn::before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ee4c2c;
  transition: width 0.25s ease-in-out;
}

.feedback-btn:hover::before {
  width: 100%;
}

.feedback-btn:hover {
  color: #262626;
}

.footer-article-item {
  border-top: 1px solid var(--pst-color-border)
}

.sidebar-heading {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.15;
}
